<%- include('./partials/head.ejs', {title: 'Register'}) %>
<form action="/register" method="post">
  <label for="">Username</label>
  <input type="text" name="username"><br><br>
  <label for="">Password</label>
  <input type="password" name="password"><br><br>
  <label for="">Confirm Password</label>
  <input type="password" name="confirm-password"><br><br>
  <button type="submit">Rgister</button>
</form>
</body>
</html>